CONFIG_NO_HZ_IDLE=y
# CONFIG_BUG is not set
# CONFIG_PRINTK is not set
CONFIG_EPOLL=y
CONFIG_EVENTFD=y
CONFIG_BLOCK=y
# CONFIG_NET is not set
# CONFIG_INET is not set
CONFIG_VIRTIO=y
CONFIG_VIRTIO_BLK=y
# CONFIG_NETDEVICES is not set
# CONFIG_VIRTIO_NET is not set
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_KERNFS=y
CONFIG_SYSFS=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_ISO9660_FS=y
# CONFIG_PRINTK_TIME is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_PCI=y
# CONFIG_NET_CORE is not set
CONFIG_VIRTIO_PCI=y
CONFIG_GENERIC_IOMAP=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NET_9P=y
